*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo:#D9D9D9;
    --titulo-menu:#ECEFE4;
    --texto-geral:#000000;
    --elementos-organismo:#9FBB99;
    --elementos-biosfera:#CBC8B3;
    --elementos-ecologia:#94B36D;
    --elementos-ecossistema:#B3BECB;
}

body{
    background-color: var(--fundo);
}

.menu-organismo {
    position: relative;
    width: 100%;
    height: 250px;
}

.organismo {
    width: 101%;
    height: 201px;
    object-fit: cover;
}

.icone-menu {
    position: absolute;
    top: 50px; 
    left: 60px; 
    width: 110px; 
    height: auto;
}

.menu-organismo h1 {
    position: absolute;
    top: 55px; 
    left: 185px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: var(--titulo-menu);
}

.img-duvida {
    width: 5rem;
    left: 107rem;
    position: absolute;
    bottom: 0;
    top: 16rem;

    
}

.oque-e p{ 
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 950px;
    height: 255px;
    background-color: var(--elementos-organismo); 
    border-radius: 20px;
    color: var(--texto-geral);
    font-family: "Jost", sans-serif;;
    font-size: 20px;
    text-align: left;
}
.centro h3{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 790px;
    height: 40%;
    text-align: center;
}

.img-orgnismo{
    display: flex;
    justify-content: center;
    align-items: center; 
    top: 1rem; 
    width: 400px;
    height: auto;
    background-image: none;
    border-radius: 50px;
}


.oque-e  {
    display: flex;
    justify-content: center;
    align-items: center;

}

.titulo{
    font-family: "Laila" , serif;
    font-weight: 700;
    font-style: normal;
}



